// @import "./resets";
// @import "./variables";
// @function weight($weight-name) {
//     @return map-get($font-weight, $weight-name);
// }
// @mixin flex_center($direction) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
// }
// @mixin theme($light-theme: true) {
//     @if $light-theme {
//         background-color: lighten($primary-color, 100%);
//         color: darken($text-color, 100%);
//     }
// }
// @mixin mobile {
//     @media (max-width: $mobile) {
//         @content;
//     }
// }
// body {
//     background-color: $primary-color;
//     color: $text-color;
// }
// .main {
//     @include flex_center(row);
//     width: 80%;
//     margin: 0 auto;
//     #{&}__paragraph1 {
//         // font-weight: map-get($font-weight, bold);
//         font-weight: weight(bold);
//         &:hover {
//             color: pink;
//         }
//     }
//     @include mobile {
//         flex-direction: column;
//     }
//     #{&}__paragraph2 {
//         @extend .main__paragraph1;
//         &:hover {
//             color: saddlebrown;
//         }
//     }
// }
// .light {
//     @include theme(false);
// }
@import "config";
@import "home";
@import "menu";
@import "about";
@import "projects";
@import "contact";
@import "responsive";
body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondry {
    color: $secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        a {
            padding: 0.4rem;
            @include transition-ease;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}